.main-section {
    width: 100%;
    height: auto;
    background-color: var(--bg-lightgray);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.enter__links {
    width: 100%;
    height: auto;
    margin-top: 25px;
}

.enter__links .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.enter__links .container a{
    text-decoration: none;
    font-family: var(--font-family-regular);
    font-size: 15px;
    color: #00072D80 50%;
}

.enter__links .container p {
    font-family: var(--font-family-regular);
    font-size: 15px;
    color: #00072D80 80%;
}

.catalog__nav {
    width: 100%;
    height: auto;
}

.catalog__nav .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.catalog__nav__footer {
    font-family: var(--font-family-medium);
    font-size: 46px;
    color: #122952;
}

.catalog__nav__bottom {
    min-width: 1296px;
    height: 295px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 24px;
    grid-auto-flow: column;
}

.catalog__nav__bottom__item {
    width: 240px;
    height: 295px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.catalog__nav__bottom__item img {
    width: 180px;
    height: 180px;
    align-self: center;
    padding-top: 20px;
}

.catalog__nav__bottom__item h3 {
    font-family: var(--font-family-medium);
    font-size: 20px;
    color: #122952;
    padding-left: 30px;
}

.catalog__nav__bottom__item p {
    font-family: var(--font-family-regular);
    font-size: 16px;
    color: #797D91;
    padding-left: 30px;
}

.catalog__block {
    width: 1296px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.filters {
    max-width: 290px;
    height: auto;
}

.filters__list {
    display: flex;
    flex-direction: column;  
    gap: 30px;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #dee2e6;
}

.filters__list__item {
    text-decoration: none;
    list-style-type: none;
    color: #122952;
    font-family: var(--font-family-medium);
    font-size: 20px;
}

.filters__list__item__boxes {
    list-style-type: none;
    padding-top: 15px;
}

.assortment {
    width: 966px;
    height: auto;
}

.assortment .container {
    display: flex;
    flex-direction: column;
}

.assortment__top {
    height: 42px;
    width: 966px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
    margin-bottom: 25px;
}

.assortment__top__buttons {
    gap: 10px;
}

.buttons {    
    border-radius: 50px;
    background-color: #fff;
    font-family: var(--font-family-medium);
    font-size: 14px;
    color: #213F74;
    padding: 10px 20px;
}

.buttons:hover {
    background-color: #213F74;
    color: #fff;
}

.assortment__bottom {
    width: 966px;
    height: auto;
    z-index: 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;
    gap: 24px;
}

.assortment__item {
    width: 306px;
    height: 582px;
    background-color: #fff;
    border-radius: 10px;
    justify-items: center;
    align-content: center;
}

.assortment__item__view {
    width: 266px;
    height: 266px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.assortment__item__view img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.assortment__item__tags {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.assortment__item__tags__new {
    width: 80px;
    height: 30px;
    border-radius: 40px;
    background-color: #11D25E;
    font-family: var(--font-family-semibold);
    font-size: 14px;
    color: #fff;
    text-align: center;
    align-content: center;
}

.assortment__item__tags__action {
    width: 64px;
    height: 30px;
    border-radius: 40px;
    background-color: #FF0000;
    font-family: var(--font-family-semibold);
    font-size: 14px;
    color: #fff;
    text-align: center;
    align-content: center;
}

.assortment__item__tags__hit {
    width: 46px;
    height: 30px;
    border-radius: 40px;
    background-color: #6E56FF;
    font-family: var(--font-family-semibold);
    font-size: 14px;
    color: #fff;
    text-align: center;
    align-content: center;
}

.assortment__item__info {
    width: 266px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.assortment__item__info__available {
    width: auto;
    height: 19px;
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-regular);
    font-size: 12px;
    color: #11D25E;
    gap: 6px;
}

.assortment__item__info__article {
    width: auto;
    height: 19px;
    display: flex;
    flex-direction: row;  
    font-family: var(--font-family-regular);
    font-size: 12px;
    color: #797D91;
}

.assortment__item__name {
    max-width: 266px;
    height: auto;
    font-family: var(--font-family-medium);
    font-size: 14px;
    color: #122952;
    align-self: start;
}

.assortment__item__collection {
    max-width: 266px;
    height: auto;
    font-family: var(--font-family-regular);
    font-size: 14px;
    color: #4D526C;
    padding-left: 20px;
    justify-self: start;
}

.assortment__item__price {
    width: 266px;
    height: 22px;
    font-family: var(--font-family-semibold);
    font-size: 16px;
    color: #213F74;
    padding-bottom: 12px;
}

.assortment__item__add {
    width: 266px;
    height: 50px;
    border-radius: 50px;
    background-color: #213F74;
    font-family: var(--font-family-medium);
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 8px;
}

.assortment__item__buynow {
    width: 266px;
    height: 50px;
    border-radius: 50px;
    border: 1px;
    background-color: #E5E9EC;
    font-family: var(--font-family-medium);
    font-size: 14px;
    color: #213F74;
    margin-left: 20px;
}