.main-section {
    width: 100%;
    height: auto;
    background-color: var(--bg-lightgray);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.categoriesNav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categoriesNav {
    background-color: #213F74;
}

.categoriesNav .container {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.categoriesNav__list {
    width: fit-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    list-style-type: none;
    gap: 50px;
}

.categoriesNav__list__item a {
    font-family: var(--font-family-medium);
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2 ease-in;
    padding-top: 15px;
    padding-bottom: 15px;
}

.categories__list__item a:hover {
    color: #DDD3CA;
    text-decoration: none;
    cursor: none;
}

.categoriesNav__list__item--active {
    background-color: #c6bcb2;

}

.categoriesNav__cart {
    height: 29px;
    width: 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffff;
    font-family: var(--font-family-medium);
    font-size: 15px;
    text-decoration: none;
}

.categoriesNav__cart__icon {
    width: 29px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.categoriesNav__cart__amount {
    height: 15px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #C6BCB2;
    font-family: var(--font-family-semibold);
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 0px;
}

.ScreenSlider {
    width: 100%;
    height: 601px;
    position: relative;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}

.ScreenSlider__object {
    width: 100%;
    height: auto;
}

.swiper-pagination-bullet {
    background: rgba(198, 188, 178, 1);
}

.Screen__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Screen__slide__bg {
    position: absolute;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Screen__slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(
        to bottom, 
        transparent 0%,
        rgba(44, 53, 70, 0.1) 10%,
        rgba(31, 44, 73, 0.8) 100%
        );
    z-index: 1;
}

.Screen__slide .container {
    position: relative;
    height: 100%;
    min-height: 601px;    
    z-index: 1;
}

.Screen__slide__link{
    position: absolute;
    width: 159px;
    height: 22px;
    margin-top: 301px;
    font-family: var(--font-family-semibold);
    font-size: 16px;
    text-decoration: none;
    color: #C6BCB2;
}

.Screen__slide__h {
    position: absolute;
    width: 850px;
    height: 118px;
    margin-top: 343px;
    font-family: var(--font-family-medium);
    font-size: 56px;
    text-decoration: none;
    color: #fff;
}

.Screen__slide__p {
    position: absolute;
    width: 479px;
    height: 50px;
    margin-top: 491px;
    font-family: var(--font-family-regular);
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}


.categories {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.categories .container {
    margin: 80px 152px;
    height: 624px;
    width: 100%;

    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-auto-flow: column;
    gap: 24px;
    grid-template-areas: 
    "box1 box2 box2 box5"
    "box3 box3 box4 box5";
}

.categories__item {
    border-radius: 10px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.categories__item--square {
    position: relative;        
    overflow: hidden;
    border-radius: 10px;
    
}
.categories__item--square::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(
        to bottom, 
        transparent 0%,
        rgba(44, 53, 70, 0.1) 10%,
        rgba(31, 44, 73, 0.8) 100%
        );
    z-index: 1;
}

.categories__item__content--square {
    width: 300px;    
    height: 300px;    
    position: relative;
    z-index: 2;
}

.categories__item__img {
    position: absolute;
    width: 100%;
    height: 100%;    
    object-fit: cover;
    flex-shrink: 0;
}

.categories__item__img--BIG {
    position: absolute;
    width: auto;
    height: 100%;    
    object-fit: cover;
    flex-shrink: 0;
}

.categories__item__h {
    position: absolute;
    width: 250px;
    height: 32px;    
    margin-top: 244px;
    margin-left: 30px;
    font-family: var(--font-family-medium);
    font-size: 24px;
    color: #fff;
}

.categories__item__h--BIG {
    position: absolute;
    width: 250px;
    height: 32px;    
    margin-top: 568px;
    margin-left: 30px;
    font-family: var(--font-family-medium);
    font-size: 24px;
    color: #fff;
}

.categories__item__link {
    position: absolute;
    display: flex;
    width: 10px;
    height: 30px;
    margin-left: 85%;
    margin-top: 255px;
}

.categories__item__link::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-49%, -43%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
}

.categories__item__link--BIG {
    position: absolute;
    display: flex;
    width: 10px;
    height: 30px;
    margin-left: 265px;
    margin-top: 580px;
}

.categories__item__link--BIG::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(-49%, -43%);
    z-index: 2;
    border-radius: 50%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
}

.categories__item--rectangle {
    position: relative;    
    overflow: hidden;
    border-radius: 10px;
}

.categories__item--rectangle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(
        to bottom, 
        transparent 0%,
        rgba(44, 53, 70, 0.1) 10%,
        rgba(31, 44, 73, 0.8) 100%
        );
    z-index: 1;
}


.categories__item--BIG {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    
}

.categories__item--BIG::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(
        to bottom, 
        transparent 0%,
        rgba(44, 53, 70, 0.1) 10%,
        rgba(31, 44, 73, 0.8) 100%
        );
    z-index: 1;
}

.categories__item__content--rectangle {
    width: 624px;
    height: 300px;
    position: relative;
    display: flex;
    z-index: 2;
}

.categories__item__content--BIG {
    width: 300px;
    height: 624px;
    position: relative;
    display: flex;
    z-index: 2;
}

.actions {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.actions .container {
    position: relative;
    width: 100%;
    margin: 0px 72px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions__top,
.actions__bottom {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions__top {
    padding-top: 8px;
    padding-bottom: 8px;
}

.actions__top__heading {
    font-family: var(--font-family-medium);
    font-size: 46px;
    color: #122952;
    margin-left: 80px;
}

.actions__top__link {
    text-decoration: none;
    margin-right: 80px;
}

.actions__bottom {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 416px 416px 416px;
    gap: 24px;
    grid-template-areas: 
    "box1 box2 box3";
    align-items: start;
    box-sizing: border-box;
}

.actions__list__item__period {
    font-family: var(--font-family-regular);
    font-size: 14px;
    color:#7F8295;
}

.actions__list__item__heading {
    font-family: var(--font-family-medium);
    font-size: 18px;
    color: #122952;
}

.actions__list__item__text {
    font-family: var(--font-family-regular);
    font-size: 14px;
    color: #4D526C;
}

.actions__list__item__link {
    font-family: var(--font-family-semibold);
    font-size: 16px;
    color: #213F74;
}

.about {
    width: 100%;
    height: auto;
    margin: 80px, 152px;
    position: relative;
    display: flex;
    justify-content: center;
}

.about .container {
    position: relative;
    width: 1296px;
    height: 500px;
    margin-top: 80px;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.about__left {
    position: relative;
    width: 726px;
    height: auto;
    display: flex;
    justify-content:start;
}

.about__img__office {
    position: absolute;
    margin-left: 110px;
    width: 616px;
    height: 491px;
    object-fit: cover;
    z-index: 1;
}

.about__img__engie {
    position: absolute;
    margin-top: 90px;
    width: auto;
    height: 330px;
    z-index: 2;
}

.about__right {
    height: auto;
    width: 526px;
    padding-left: 44px;
}

.about__right__top__heading {
    font-family: var(--font-family-medium);
    font-size: 46px;
    color: #122952;
}

.about__right__top__text {
    margin-top: 20px;
    font-family: var(--font-family-regular);
    font-size: 14px;
    color: #4D526C;
}

.about__right__bottom__guarantee {
    margin-top: 20px;
    font-family: var(--font-family-medium);
    font-size: 20px;
    color: #122952;
}

.about__right__bottom__text {
    margin-top: 20px;
    font-family: var(--font-family-regular);
    font-size: 14px;
    color: #4D526C;
}

.about__right__bottom__link {
    margin-top: 40px;
    text-decoration: none;
}

.contact {
    width: 100%;    
    height: 469px;    
    position: relative;
    display: flex;
    box-sizing: content-box;
    margin-top: 80px;
}

.contact__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
    z-index: 1;
}

.contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:#2C3546B2 100%;
    z-index: 2;
}

.contact .container {
    width: 100%;
    height: 469px;
    position: absolute;
    display: flex;
    justify-content:start;
    overflow: hidden;
}

.contact__badge__logo {
    width: 65px;
    height: 60px;
    margin-left: 332px;
    z-index: 3;
    position: absolute;
}

.contact__info {
    position: relative;
    z-index: 3;
    margin-left: 332px;
}

.contact__info__heading {
    font-family: var(--font-family-medium);
    font-size: 46px;
    color: #fff;
    margin-top: 80px;
}

.contact__info__text {
    font-family: var(--font-family-regular);
    font-size: 16px;
    color: #fff;
    width: 567px;
    height: 50px;
}

.contact__info__customer {    
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact__info__customer::placeholder {    
    color: #fff;
    opacity: 1;
}

.contact__info__name {
    font-family: var(--font-family-regular);
    font-size: 14px;
    color: #fff;
}

.contact__info__name
::placeholder {    
    color: #fff;
    opacity: 1;
}

.contact__info__telephone {
    font-family: var(--font-family-regular);
    font-size: 14px;
    color: #fff;    
}

.contact__info__telephone
::placeholder {
    color: #fff;
    opacity: 1;
}

.contact__info__agree {
    display: flex;
    flex-direction: row;
    font-family: var(--font-family-regular);
    font-size: 12px;
    color: #fff;
    margin-top: 20px;
    gap: 10px;
}

.contact__info__button {
    margin-top: 20px;
    font-family: var(--font-family-semibold);
    font-size: 14px;
    color: #fff;
    background-color: #C6BCB2;
    border-radius: 50px;
    width: 176px;
    height: 60px;
    border: none;
}