.button {
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
  transition: all 0.2s ease-in;
  appearance: none;
  border: none;
}
.button--darkblue {
  background-color: #213f74;
  color: #fff;
}
.button--darkblue:hover {
  background-color: #002d79;
}
.button--darkblue:active {
  background-color: #122952;
}
.button--cta {
  padding: 14px 28px;
  font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
}
.button--more {
  padding: 20px 30px;
}


.button--beige {
  width: fit-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.2s ease-in;
  appearance: none;
  border: none;
  background-color: #c6bcb2;
  color: #fff;
}
.button--beige:hover {
  background-color: #b0a69b;
}
.button--beige:active {
  background-color: #b0a69b;
}

.telephone--link {
  color: #213F74;
  font-family: var(--font-family-semibold);
  font-size: 22px;
  text-decoration: none;
}

.info--box {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  width: 100%;
  outline: none;
  transition: border-color 0.3s ease;

  font-family: var(--font-family-regular);
  font-size: 14px;
  color: #fff;
  
}
