.container{
    max-width: 1296px;
    min-width: 1296px;
    margin: 0px auto;
    display: flex;
    height: auto;
}

@media (max-width: 1296px) {
  .container {
    width: 95%;
    max-width: initial;
    min-width: initial;
  }
}

ul,
ol,
p {
  margin: 0;
  padding: 0;
}
a {
  transition: all 0.2s ease-in;
}

.display--desktop {
  display: flex;
}
.display--tablet {
  display: none !important;
}
.display--mobile {
  display: none !important;
}

@media (max-width: 768px) {
  .display--desktop {
    display: none !important;
  }
  .display--tablet {
    display: flex !important;
  }
  .display--mobile {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .display--desktop {
    display: none !important;
  }
  .display--tablet {
    display: none !important;
  }
  .display--mobile {
    display: flex !important;
  }
}